.tweetdwn-code-wrapper
{
    background:#53595F;
    border-radius: .25rem;
    border: .05rem solid #4D555D;
    color: #efefef;
    font-family: 'Consolas', 'Courier New', Courier, monospace !important;
    font-size: .9em !important;
    padding: .25em;
}

.TweetTextSize--jumbo .tweetdwn-code-wrapper
{
    font-size: .8em !important;
    padding: .125em .25em;
}

.tweetdwn-code-wrapper.block
{
    display: block;
    margin: .5rem 0;
    margin-left: .25rem;
}

.TweetTextSize--jumbo .tweetdwn-code-wrapper.block
{
    margin: .75rem 0;
    margin-left: .5rem;
}

.tweetdwn-code-wrapper code
{
    display: inline;
}

.tweetdwn-code-wrapper .tweetdwn-placeholder
{
    display: none;
}

.DMInboxItem-snippet .tweetdwn-code-wrapper
{
    display: inline-block;
    margin: 0;
    padding: 0 .5em;
}

.DMInboxItem-snippet .tweetdwn-code-wrapper .tweetdwn-placeholder
{
    display: inline;
}

.DMInboxItem-snippet .tweetdwn-code-wrapper code
{
    display: none;
}
